body {
    font-family: 'Poppins', serif;
    font-size: 14px;
    background-image: url('https://images.unsplash.com/photo-1572945015532-741f8c49a7b2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8aW5kaWFuJTIwdGVtcGxlfGVufDB8fDB8fA%3D%3D&w=1000&q=80');
    
    color: hsl(32, 100%, 78%);
 
  }
  h1{
    text-align: center;
    font-size: 50px;
    color: 
  }
  p{
    text-align: center
  }
  h2{
    text-align: center;
    color:  
  }

a:link {
  color: rgb(255, 255, 255);
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: rgb(189, 165, 47);
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: rgb(228, 151, 37);
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: rgb(201, 201, 201);
  background-color: transparent;
  text-decoration: underline;
}
.link-artist{
    text-align: center;
}
