body,html{
    font-family: 'Poppins', serif;
    font-size: 14px;
    background-image: url('/images/temple-bk4.jpg');
    background-position: center;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    color: rgb(243, 237, 226);
    margin: 0 auto;
  }
  h1{
    text-align: center;
    font-size: 50px;
    color: 
  }
  p{
    text-align: center;
    font-size: 30px
  }
  h2{
    text-align: center;
    color:  
  }

a:link {
  color: rgb(208, 154, 191);
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: rgb(189, 165, 47);
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: rgb(228, 151, 37);
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: rgb(201, 201, 201);
  background-color: transparent;
  text-decoration: underline;

}
#bottom {
  position: absolute;
  bottom: 0;
  left: 0;

}
#bottom1 {
  position: absolute;
  bottom: 0;
  right: 0;

}





