body,html{
    font-family: 'Poppins', serif;
    font-size: 14px;
    background-position: center;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fcedcc;
    height: 100%;
    margin: 0 auto;
  }
  #bottom2{
    font-size: 15px;
    color: #f9f7f7;
    position: absolute;
    text-align: center;
    padding: 10px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    background-color: #000000;
  }
  .logo-p{
    font-size: 13px;
    margin-right:15px;
  }
    footer {
      color: white;
      position: relative;
      height: 4em;
      background-color: bisque;
      padding: 30px;
      margin-top: auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .logo {
      color: #ab8246;
      font-size: 20px;
      margin-right: 10px;
      padding: 0px;
      font-weight: bold;
    }

    .footer-nav ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }

    .footer-nav li {
      display: inline;
      margin-right: 10px;
    }

    a {
      text-decoration: none;
      color: #ab8246;
    }

    .social-icons a {
      margin-left: 10px;
      color: #ab8246;
      font-size: 20px;
    }

    a:hover {
      color: #67491c;
    }
  .back{
    background-image: url('/images/temple-bk4.jpg');
    background-position: center;
    text-align: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fcedcc;
    height: 100%;
    margin: auto;
  }
  .faq{
    color: #b68a4d;
  }
  .faq-p{
    font-size: 20px;
    color: #b68a4d;
  }
  .Whatsnew{
    position: relative;
    margin-top: auto;
    padding: 10px;
    background-color: #ffe4c4;
    border-color: #b68a4d;
    margin-left: auto;
    margin-right: auto;
  }
  .title{
    margin-top: auto;
    margin-bottom: auto;
    font-size: 40px;
  }
  .main{
    margin: auto;
    text-align: center;
    position: absolute;
    right: 0;
    left: 0;
    top: 30%;
  }
  #search{
    background-color: bisque;
    padding: 10px;
    width: 500px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
  }
  input{
    background-color: transparent;
    border: 0px;
    color: rgb(148, 125, 97);
    width: 400px;
    height: 30px;
    outline: none
  }
  
  button{
    cursor: pointer;
    background-color:antiquewhite;
    padding: 10px 20px;
    color: rgb(71, 66, 66);
    border-radius: 10px;
    border: 0px;
  }
  h1{
    text-align: center;
    font-size: 50px;
    color: 
  }

  p{
    text-align: center;
    font-size: 30px
  }
  h2{
    text-align: center;
    color:  
  }
  #bottom {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    color: #a7a196;
  }

@media only screen and (max-width:500px){

  .back {
      background-image: url('/images/diwali-bk.jpg');
      background-position: center;
      text-align: center;
      align-items: center;
      background-repeat: no-repeat;
      background-size: cover;
      color: #fcedcc;
      height: 100%;
      margin: auto;
    }
  #search{
    background-color: bisque;
    padding: 10px;
    width: 270px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
  }
  input{
    background-color: transparent;
    border: 0px;
    width: 170px;
    color: rgb(148, 125, 97);
    height: 30px;
  }
  #bottom {
  position: absolute;
  bottom: 5px;
  display: none;
}
#bottom1 {
  position: absolute;
  bottom: 0px;
  right: 0px;
  display: none;
}


}




