:root{
  --backcolor: #00000a;
}

body,html{
    font-family: 'Poppins', serif;
    font-size: 14px;
    background-position: center;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fcedcc;
    background-color: var(--backcolor);
    height: 100%;
    margin: 0 auto;
  }
    ::-webkit-scrollbar {
      width: 12px;
    }
  
    /* Track */
    ::-webkit-scrollbar-track {
      background-color: #e5dcd1;
    }
  
    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: var(--backcolor);
      border-top-left-radius: 2px;
      border-top-right-radius:2px;
      border-bottom-left-radius: 2px;
      border-bottom-right-radius: 2px;
    }
  
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: #7d6341;
    }
  #bottom2{
    font-size: 15px;
    color: bisque;
    position: absolute;
    text-align: center;
    padding: 10px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    background-color: var(--backcolor);
  }
  .logo-p{
    font-size: 13px;
    margin-right:15px;
  }
    footer {
      color: white;
      position: relative;
      height: 4em;
      background-color: var(--backcolor);
      padding: 30px;
      margin-top: auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .logo {
      color: bisque;
      font-size: 20px;
      margin-right: 10px;
      padding: 0px;
      font-weight: bold;
    }

    .footer-nav ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }

    .footer-nav li {
      display: inline;
      margin-right: 10px;
    }

    a {
      text-decoration: none;
      color: bisque;
    }

    .social-icons a {
      margin-left: 10px;
      color: bisque;
      font-size: 20px;
    }
    .sup{
      background-color: #000000;
      color: bisque;
      
    }

    .sup:hover{
      background-color: #7d6341;
    }
    a:hover {
      color: #c29d6c;
    }
        .top {
          float: left;
          padding: 14px;
          margin-top: 0px;
          margin-right: 16px;
          margin-left: 0%;
          font-size: 14px;
          color: var(--textcolor);
          background-color: var(--backcolor);
          border-radius: 10px;
          border-top-left-radius: 0px;
          border-top-right-radius: 0px;
          border-bottom-left-radius: 0px;
          display: flex;
        }
  .back{
    background-image: url('./images/temple-bk4.jpg');
    background-position: center;
    text-align: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fcedcc;
    height: 100%;
    margin: auto;
  }
  .faq{
    color: var(--backcolor);
    font-weight: bold;
  }
  .faq-p{
    font-weight: 300;
    font-size: 18px;
    color: var(--backcolor);
  }
  .Whatsnew{
    position: relative;
    margin-top: auto;
    padding: 10px;
    background-color: #ffe4c4;
    border-color: #b68a4d;
    margin-left: auto;
    margin-right: auto;
  }
  .title{
    margin-top: auto;
    margin-bottom: auto;
    font-size: 40px;
  }
  .main{
    margin: auto;
    text-align: center;
    position: absolute;
    right: 0;
    left: 0;
    top: 30%;
  }
  #search{
    background-color: bisque;
    padding: 10px;
    width: 500px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
  }
  input{
    background-color: transparent;
    border: 0px;
    color: rgb(148, 125, 97);
    width: 400px;
    height: 30px;
    outline: none
  }
  .searchbutton {
      cursor: pointer;
      background-color: var(--backcolor);
      padding: 10px 20px;
      margin-left: 5px;
      color: beige;
      border-radius: 10px;
      border-width: 1px;
      border-color: beige;
    }
  button{
    cursor: pointer;
    background-color:bisque;
    padding: 10px 20px;
    color: var(--backcolor);
    border-width: 1px;
    border-radius: 10px;
    border-color: var(--backcolor);
  }
  button:hover{
    background-color: var(--backcolor);
    color:bisque;
  }
  h1{
    text-align: center;
    font-size: 50px;
    color: 
  }

  p{
    text-align: center;
    font-size: 30px
  }
  h2{
    text-align: center;
    color:  
  }
  #bottom {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    color: #a7a196;
  }

@media only screen and (max-width:500px){

  .back {
      background-image: url('/images/diwali-bk.jpg');
      background-position: center;
      text-align: center;
      align-items: center;
      background-repeat: no-repeat;
      background-size: cover;
      color: #fcedcc;
      height: 100%;
      margin: auto;
    }
  #search{
    background-color: bisque;
    padding: 10px;
    width: 270px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
  }
  input{
    background-color: transparent;
    border: 0px;
    width: 170px;
    color: rgb(148, 125, 97);
    height: 30px;
  }
  #bottom {
  position: absolute;
  bottom: 5px;
  display: none;
}
#bottom1 {
  position: absolute;
  bottom: 0px;
  right: 0px;
  display: none;
}


}




