body,html{
    font-family: 'Poppins', serif;
    font-size: 14px;
    background-image: url('/images/old_page.jpg');
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    color: rgb(255, 255, 255);
    margin: 0 auto;
  }
  h1{
    text-align: center;
    font-size: 50px;
    color: 
  }
  p{
    text-align: center;
    font-size: 30px
    
  }
  p{
    text-align: center;
    color: rgb(167, 120, 45);
  
  }
  .center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: large;
    color: rgb(188, 130, 37);
  }
  #bottom {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  #bottom1 {
    position: absolute;
    bottom: 0;
    right: 0;
  }



