body,
html {
  font-family: 'Poppins', serif;
  font-size: 14px;
  text-align: center;
  background-repeat:no-repeat;
  background-size:cover;
  background-position: center;
  color: rgb(255, 255, 255);
  margin: 0;
  padding: 0;
  height: 100%;
  background-image: url('/images/noimage.png')
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.fyp {
  flex-shrink: 1;
}
.maintext{
  vertical-align: middle;
    text-align: center;
    font-size: 30px;
    color: beige;
}

.searchimg {
  max-width: 100%;
  max-height: 300px;
  object-fit: contain;
}

.center {
  vertical-align: middle;
  text-align: center;
  font-size: large;
  color: beige;
}
.text{
  background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.6);
    /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 5px solid beige;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
}
.shloks{
  padding: 15px;
  background-color:rgb(73, 55, 55);
  color:bisque;
}

.navbar {
  background-color: bisque;
  height: 90px;
  text-align: center;
}
#search {
  padding: 10px;
  border-radius: 10px;
}

input {
  background-color: transparent;
  border: none;
  outline: none;
  color: rgb(148, 125, 97);
  height: 35px;
  width: 150px;
}

.searchbutton {
  cursor: pointer;
  background-color: bisque;
  padding: 10px 20px;
  margin-left: 5px;
  color: rgb(71, 66, 66);
  border-radius: 10px;
  border: 0px;
}
.tweetbut{
  padding: 10px 20px;
  margin-right: 5px;
  margin-left: auto;
  width: 400px;
  border: 0px;
  background-color: #1DA1F2;
  color: white;
  border-radius: 6px;
}

.searchbarnav {
  float: right;
  vertical-align: middle;
  text-align: center;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
  background-color: antiquewhite;
  border-radius: 10px;
}

.title {
  float: left;
  padding: 14px;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
  color: rgb(192, 153, 105);
  display: flex;
}

footer {
  color: white;
  position: relative;
  height: 4em;
  background-color: bisque;
  padding: 30px;
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #ab8246;
  font-size: 20px;
  margin-right: 10px;
}

.footer-nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer-nav li {
  display: inline;
  margin-right: 10px;
}

.footer-nav a {
  text-decoration: none;
  color: #ab8246;
}

.social-icons a {
  margin-left: 10px;
  color: #ab8246;
  font-size: 20px;
}

.social-icons a:hover {
  color: #67491c;
}

@media only screen and (max-width: 500px) {
  .tweetbut{
    width: 250px;
    text-align: center;
    margin-bottom: 14px;
  }
  .searchbarnav {
    padding: 10px;
    float: center;
    vertical-align: middle;
    text-align: center;
    border: none;
    margin-top: 8px;
    display: flex;
    flex-direction: inherit;
    align-items: center;
    justify-content: center;
    width: 86%;
    height: 34px;
  }

  .searchbutton {
    margin-bottom: auto;
    text-align: center;
    align-items: center;
    margin-top: auto;
  }

  input {
    border: none;
    margin-bottom: 8px;
    margin-top: auto;
    width: 100%;
    text-align: left;
    align-items: center;
  }

  .title {
    display: none;
  }
}

@media only screen and (max-width: 340px) {
  .tweetbut{
    width: 200px;
  }
  .searchbarnav {
    padding: 10px;
    display: flex;
    flex-direction: inherit;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 34px;
  }
}
