:root{
  --backcolor: black;
  --mbackcolor:bisque;
  --trascolor: rgba(54, 48, 48, 0.6);
}
body, html {
  font-family: 'Poppins', serif;
  font-size: 14px;
  background-color:var(--backcolor);
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(185, 144, 77);
  margin: 0;
  padding: 0;
  height: 100%;
}
a {
  text-decoration: none;
  color: beige;
}

a:hover {
  color: #67491c;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Use min-height instead of height for the body */
}
.fyp{
  flex-shrink: 1;
}
.searchimg{
  max-width: 100%;
  max-height: 300px;
  object-fit: contain;
}
.center {
    font-size: large;
    color: beige;
}
.navbar{
  background-color: transparent;
  height: 90px;
  text-align: center;
}
#search{
    padding: 10px;
    border-radius: 10px;
  }
  input{
    background-color: transparent;
    border: none;
    outline: none;
    color: beige;
    height: 35px;
    width: 150px;
  }
  button{
    cursor: pointer;
      background-color: var(--backcolor);
      padding: 10px 20px;
      margin-left: 5px;
      color: var(--mbackcolor);
      border-radius: 10px;
      border-width: 1px;
      border-color: var(--textcolor);
  }
  button:hover{
    background-color: var(--mbackcolor);
    color: var(--trascolor);
  }
  .searchbarnav{
     float: right;
     vertical-align: middle;
     text-align: center;
     padding: 6px;
     border: none;
     margin-top: 8px;
     margin-right: 16px;
     font-size: 17px;
     background-color: var(--trascolor);
     border-radius: 10px;
  }
    .title {
      float: left;
      padding: 14px;
      margin-top: 0px;
      margin-right: 16px;
      margin-left: 0%;
      font-size: 17px;
      color: var(--mbackcolor);
      background-color: var(--trascolor);
      border-radius: 10px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      border-bottom-left-radius: 0px;
      display: flex;
    }

/* Add the following CSS for the footer */
footer {
  color: White;
  position: relative;
  height: 4em;
  background-color: var(--backcolor);
  padding: 30px;
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #ab8246;
  font-size: 20px;
  margin-right: 10px;
  font-weight: bold;
}

.footer-nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer-nav li {
  display: inline;
  margin-right: 10px;
}

.footer-nav a {
  text-decoration: none;
  color: beige;
}

.social-icons a {
  margin-left: 10px;
  color: beige;
  font-size: 20px;
}

.social-icons a:hover {
  color: #67491c;
}

.container {
      max-width: 800px;
      margin: 0 auto;
      padding: 40px;
      color: bisque;
      background-color: var(--trascolor);
      box-sizing: border-box;
      border-radius: 10px;
      margin-top: 50px;
      margin-bottom: 50px;
    }

    h1 {
      text-align: center;
      margin-bottom: 30px;
    }

    input[type="text"],
    textarea {
      width: 100%;
      padding: 10px;
      border: none;
      background-color: antiquewhite;
      border-radius: 10px;
      color: rgb(56, 55, 56);
      margin-bottom: 20px;
    }
    

    textarea {
      height: 120px;
    }

    input[type="submit"] {
      text-align: center;
      background-color: beige;
      border-radius: 10px;
      color: var(--trascolor);
      border: none;
      width: 200px;
      height: 40px;
      font-size: 15px;
      padding: 10px 20px;
      cursor: pointer;
    }

    input[type="submit"]:hover {
      color: white;
      background-color: bisque;
    }

    .success-message {
      text-align: center;
      margin-top: 20px;
      color: #ebf4ec;
      background-color: #4caf50;
      border-radius: 10px;
    }

    .error-message {
      text-align: center;
      margin-top: 20px;
      color: #ffffff;
      border-radius: 10px;
      background-color: #f44336;
    }
@media only screen and (max-width:500px){
  .searchbarnav{
     padding: 10px;
     float: center;
     vertical-align: middle;
     text-align: center;
     border: none;
     margin-top: 8px;
     display: flex;
     flex-direction:inherit;
     align-items: center;
     justify-content: center;
     width: 86%;
     height: 34px;
  }
  button{
    margin-bottom: auto;
    text-align: center;
    align-items: center;
    margin-top: auto;
  }
  input{
    border: none;
    margin-bottom: 8px;
    margin-top: auto;
    width: 100%;
    text-align: left;
    align-items: center;
  }
  .title{
    display: none;
  }
}
@media only screen and (max-width:340px){
  .searchbarnav{
     padding: 10px;
     display: flex;
     flex-direction:inherit;
     align-items: center;
     justify-content: center;
     width: 80%;
     height: 34px;
  }
}