:root {
  --backcolor: Black;
  --textcolor: bisque;
  --mtextcolor: beige;
  --trascolor: rgba(31, 29, 29);
}

body,
html {
  font-family: 'Poppins', serif;
  font-size: 14px;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: var(--textcolor);
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: var(--trascolor);
}
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #e5dcd1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--backcolor);
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #7d6341;
}
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(203, 183, 183);
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgb(203, 183, 183);
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: rgb(203, 183, 183);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.fyp {
  flex-shrink: 1;
}

.maintext {
  vertical-align: middle;
  text-align: center;
  font-size: 30px;
  color: var(--mtextcolor);
}

.center {
  vertical-align: middle;
  text-align: center;
  font-size: large;
  color: var(--mtextcolor);
}

.text {
  background-color: rgb(230, 196, 123);
  /* Fallback color */
  background-color: var(--trascolor);
  /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 5px solid var(--backcolor);
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}

.shloks {
  padding: 15px;
  background-color: var(--backcolor);
  color: bisque;
}

.navbar {
  background-color: transparent;
  height: 90px;
  text-align: center;
}

#search {
  padding: 10px;
  border-radius: 10px;
}

input {
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
  height: 35px;
  width: 150px;
}
.about{
  text-align: center;
    background-color: black;
    border: var(--mbackcolor);
    border: 2px;
    border-radius: 10px;
    padding: 10px;
    width: 350px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid bisque;
}
.tools{
  text-align: center;
    background-color: black;
    border: var(--mbackcolor);
    border: 2px;
    border-radius: 10px;
    padding: 10px;
    margin-top: 15px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid bisque;
}
.cont{
  text-align: center;
  background-color: black;
  border: var(--mbackcolor);
  border: 2px;
  border-radius: 10px;
  width: 250px;
  padding: 10px;
  border: 2px solid bisque;
  margin-left: auto;
  margin-right: auto;
}
.cont img{
  margin-top: 10px;
  border-radius: 10px;
}
.cot p{
  font-size: small;
}
.cot h2{
  font-size: 25px;
}
.cot{
  font-size: larger;
  margin-top: auto;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}
button {
  cursor: pointer;
  background-color: var(--backcolor);
  padding: 10px 20px;
  margin-left: 5px;
  color: var(--textcolor);
  border-radius: 10px;
  border-width: 1px;
  border-color: var(--textcolor);
}
button:hover {
  background-color: beige;
  color: var(--backcolor);
}

.searchbarnav {
  float: right;
  vertical-align: middle;
  text-align: center;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
  background-color: var(--backcolor);
  border-radius: 10px;
}

.title {
  float: left;
  padding: 14px;
  margin-top: 0px;
  margin-right: 16px;
  margin-left: 0%;
  font-size: 17px;
  color: var(--textcolor);
  background-color: var(--backcolor);
  border-radius: 10px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  display: flex;
}

footer {
  color: white;
  position: relative;
  height: 4em;
  background-color: var(--backcolor);
  padding: 30px;
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: var(--textcolor);
  font-size: 20px;
  margin-right: 10px;
  font-weight: bold;
}

.footer-nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer-nav li {
  display: inline;
  margin-right: 10px;
}

.footer-nav a {
  text-decoration: none;
  color: var(--textcolor);
}

.social-icons a {
  margin-left: 10px;
  color: var(--textcolor);
  font-size: 20px;
}

.social-icons a:hover {
  color: #67491c;
}

a {
  text-decoration: none;
  color: var(--textcolor);
}

a:hover {
  color: #67491c;
}

@media only screen and (max-width: 500px) {
  .tweetbut {
    width: 250px;
    text-align: center;
    margin-bottom: 14px;
  }

  .searchbarnav {
    padding: 10px;
    float: center;
    vertical-align: middle;
    text-align: center;
    border: none;
    margin-top: 8px;
    display: flex;
    flex-direction: inherit;
    align-items: center;
    justify-content: center;
    width: 86%;
    height: 34px;
  }

  .searchbutton {
    margin-bottom: auto;
    text-align: center;
    align-items: center;
    margin-top: auto;
  }

  input {
    border: none;
    margin-bottom: 8px;
    margin-top: auto;
    width: 100%;
    text-align: left;
    align-items: center;
  }

  .title {
    display: none;
  }
}

@media only screen and (max-width: 340px) {
  .tweetbut {
    width: 200px;
  }

  .searchbarnav {
    padding: 10px;
    display: flex;
    flex-direction: inherit;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 34px;
  }
}